<!-- <FlexboxLayout justifyContent="space-between" alignItems="flex-start">
  <Label text="A"></Label>
  <Label text="B" alignSelf="flex-end"></Label>
  <Label text="C"></Label>
</FlexboxLayout> -->
<!-- <FlexboxLayout
  flexDirection="column"
  justifyContent="space-around"
  alignItems="center"
>
  <Label text="A"></Label>
  <Label text="B"></Label>
  <Label text="C"></Label>
</FlexboxLayout> -->
<!-- <FlexboxLayout flexDirection="column" justifyContent="space-around">
  <Label text="A"></Label>
  <Label text="B"></Label>
</FlexboxLayout> -->
<GridLayout rows="50, *, 60, auto, 30, 2*" columns="3*, *, auto, 100">
  <Label text="A"></Label>
  <Label text="B" row="1" column="1"></Label>
  <Label text="C" row="2" column="2"></Label>
  <Label text="D" row="3" column="3"></Label>
  <Label text="E" row="5" column="1"></Label>
</GridLayout>
